streamlit>=1.22
pdfplumber>=0.9
openai>=1.0.0
python-dotenv>=1.0
pyyaml>=6.0
langchain-community>=0.0.13
langchain>=0.1.0
pydantic>=2.5.0
typing-extensions>=4.8.0
SpeechRecognition>=3.10.0
google-generativeai>=0.3.0
pygame>=2.5.0
translate>=3.6.1
google-cloud-texttospeech>=2.14.1